@model PasswordModel
@inject IViewLocalizer localizer
@inject IStringLocalizer<Teram.Module.Authentication.Controllers.UserProfileController> userProfileLocalizer
@inject IStringLocalizer<SharedResource> sharedResourceLocalizer

<div class="content">
    <div class="container-fluid">

      

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title">@userProfileLocalizer["Change Password"]</h5>
                        <div class="d-flex">
                            <div class="col-md-4">

                                <label>@userProfileLocalizer["User Name"] :</label>
                                <span dir="ltr" style="direction:ltr !important;text-align:left" asp-for="UserName">@Model.UserName</span>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="UserName" />
                        <div class="d-flex">
                            <div class="col-md-4">
                                <label>@userProfileLocalizer["Old Password"] :</label>
                                <input type="password" data-required="required" placeholder="@userProfileLocalizer["Old Password"]" required="required" asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="d-flex">
                            <div class="col-md-4">
                                <label>@userProfileLocalizer["New Password"] :</label>
                                <input type="password" data-required="required" placeholder="@userProfileLocalizer["New Password"]" required="required" asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="d-flex">
                            <div class="col-md-4">
                                <label>@userProfileLocalizer["Confirm Password"] :</label>
                                <input type="password" data-required="required" placeholder="@userProfileLocalizer["Confirm Password"]" required="required" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="d-flex mt-4">

                            <button id="SavePassword" type="submit" class="btn btn-primary">@sharedResourceLocalizer["Submit"]</button>
                            <button type="reset" class="btn btn-secondary">@userProfileLocalizer["Close"] </button>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    $(document).on('click', '#SavePassword', function () { SavePassword(); });

    function SavePassword() {
        var data = {
            UserId: $("#UserId").val(),
            OldPassword: $("#OldPassword").val(),
            NewPassword: $("#NewPassword").val(),
            ConfirmPassword: $("#ConfirmPassword").val(),
        }
        $.ajax({
            url: "/UserControlPanel/SavePassword",
            data: { model: data },
            type: 'POST',
            success: function (data) {

                onSuccess(data);
            }
        });
    }

    function onSuccess(data) {
        if (data.result == "ok") {
            var message = "OK";
            if (data.message) {
                if (data.message.value) {
                    message = data.message.value;
                }
                else {
                    message = data.message;
                }
            };
            Teram().showSuccessfullMessage(message);
            Edit($("#UserId").val());
            table = $(".datatableGrid").DataTable();
            table.ajax.reload();
        }
        else {
            var message = "Fail";
            if (data.message) {
                if (data.message.value) {
                    message = data.message.value;
                }
                else {
                    message = data.message;
                }
            };

            Teram().showErrorMessage(message);
        };
    }
</script>
