@model List<ResumeModel>
@inject IStringLocalizer<Teram.HR.Module.Recruitment.Controllers.WorkWithUsController> localizer

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 text-center background-color-blue color-white border-bottom border-dark infoItem">
            @localizer["Resume"]
        </div>
    </div>
    <div class="row background-color-blue-light">
        <div class="col-md-1 col-xs-6 text-center border-right border-bottom border-dark report-label infoItem">
            <span>@localizer["Row Number"]</span>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 text-center border-right border-bottom border-dark report-label pt-2 infoItem">
                            <span> @localizer["Company name"]</span>
                        </div>
                        <div class="col-md-4 col-xs-6 text-center border-right border-bottom border-dark report-label pt-2 infoItem">
                            <span> @localizer["organization position"]</span>
                        </div>                      
                        <div class="col-md-2 col-xs-6 text-center border-right border-bottom border-dark report-label pt-2 infoItem">
                            <span>@localizer["start date"]</span>
                        </div>
                        <div class="col-md-2 col-xs-6 text-center border-right border-bottom border-dark report-label pt-2 infoItem">
                            <span> @localizer["end date"]</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">                      
                        <div class="col-md-6 col-xs-6 text-center border-right border-bottom border-dark report-label pt-2 infoItem">
                            <span>@localizer["activity"]</span>
                        </div>
                        <div class="col-md-6 col-xs-6 text-center border-right border-bottom border-left border-dark report-label pt-2 infoItem">
                            <span>@localizer["end cooperation reason"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model.Select((value, index) => (value, index)))
    {
        <div class="row infoRow">
            <div class="col-md-1 col-xs-6  text-center  border-bottom border-right border-dark infoItem">
                <span>@(item.index + 1)</span>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                                <span>@(item.value.CompanyName != null ? item.value.CompanyName : "-")</span>
                            </div>
                            <div class="col-md-4 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                                <span>@(item.value.OrganizationalPosition != null ? item.value.OrganizationalPosition:"-")</span>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                                <span>@(item.value.StartPersianDate != ""? item.value.StartPersianDate:"-")</span>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                                <span>@(item.value.FinishPersianDate != "" ? item.value.FinishPersianDate:"-")</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">

                            <div class="col-md-6 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                                <span>@(item.value.Activity != null ? item.value.Activity:"-")</span>
                            </div>
                            <div class="col-md-6 col-xs-6 text-center border-right border-left border-bottom border-dark infoItem">
                                <span>@(item.value.EndCooperationReason != null ? item.value.EndCooperationReason:"-")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

