@model List<EducationModel>
@inject IStringLocalizer<Teram.HR.Module.Recruitment.Controllers.WorkWithUsController> localizer

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 text-center background-color-blue color-white border-bottom border-dark infoItem">
            @localizer["Education"]
        </div>
    </div>
    <div class="row background-color-blue-light">
        <div class="col-md-1 col-xs-6 text-center border-right border-bottom border-dark report-label infoItem">
            <span>@localizer["Row Number"]</span>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-3 col-xs-6 text-center border-right border-bottom border-dark report-label infoItem">
                    <span> @localizer["subject"]</span>
                </div>
                <div class="col-md-3 col-xs-6 text-center border-right border-bottom border-dark report-label infoItem">
                    <span> @localizer["organization name"]</span>
                </div>
                <div class="col-md-3 col-xs-6 text-center border-right border-bottom border-dark report-label infoItem">
                    <span> @localizer["education duration hour"]</span>
                </div>
                <div class="col-md-3 col-xs-6 text-center border-right border-left border-bottom border-dark report-label infoItem">
                    <span>@localizer["education Year"]</span>
                </div>              
            </div>
        </div>
    </div>

    @foreach (var item in Model.Select((value, index) => (value, index)))
    {
        <div class="row infoRow">
            <div class="col-md-1 col-xs-6  text-center  border-bottom border-right border-dark infoItem">
                <span>@(item.index + 1)</span>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                        <span>@(item.value.Subject != null ? item.value.Subject : "-")</span>
                    </div>
                    <div class="col-md-3 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                        <span>@(item.value.OrganizationName != null ? item.value.OrganizationName : "-")</span>
                    </div>
                    <div class="col-md-3 col-xs-6 text-center border-right border-bottom border-dark infoItem">
                        <span>@(item.value.EducationDurationHour != null ? item.value.EducationDurationHour: "-" )</span>
                    </div>
                    <div class="col-md-3 col-xs-6 text-center border-right border-left border-bottom border-dark infoItem">
                        <span>@(item.value.EducationYear != null ? item.value.EducationYear : "-")</span>
                    </div>                  
                </div>
            </div>
        </div>
    }
</div>

