@model ApplicationModel
@inject IStringLocalizer<Teram.IT.Module.BackupManagement.Controllers.ApplicationController> localizer

<div class="formInfo">
    <form asp-action="Save" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="onSuccess" enctype="multipart/form-data">
        <input type="hidden" asp-for="Key" />       
        <div class="row">
            <text-box asp-for="Title" reverse="true" validation-type="None" title="@localizer["Title"]" validation-required-message="@localizer["Please enter Title"]" div-class="col-xs-12 col-md-6 col-lg-3  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="DestinationPath" reverse="true" validation-type="None" title="@localizer["DestinationPath"]" validation-required-message="@localizer["Please enter InternalDestinationPath"]" div-class="col-xs-12 col-md-6 col-lg-3  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="SourcePath" reverse="true" validation-type="None" title="@localizer["SourcePath"]" validation-required-message="@localizer["Please enter SourcePath"]" div-class="col-xs-12 col-md-6 col-lg-3  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <check-box asp-for="IsActive" name="IsActive" reverse="true" title="@localizer["IsActive"]" value="true" div-class="col-12 col-md-2 col-lg-2 d-flex flex-column-reverse align-items-start" />
        </div>
        <div class="form-row" style="margin-top:20px;">
            <div class="form-group col-xs-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-success">@localizer["Save"] </button>
                <button type="button" class="btn btn-secondary resetForm resetButton">@localizer["New"] </button>
            </div>
        </div>
    </form>
</div>