@using Teram.Web.Core.Helper;
@model WorkerJobBackgroundModel
@inject IStringLocalizer<Teram.HR.Module.Recruitment.Controllers.WorkerJobBackgroundController> localizer
<div class="formInfo">
    <form asp-action="Save" method="post" data-ajax="true" data-ajax-method="post" enctype="multipart/form-data" data-ajax-success="onSuccess">
        <input type="hidden" asp-for="Key" />
        <input type="hidden" value="@Model.JobApplicantId" id="JobApplicantHidden" />
        <div class="row">
            <select-box style="justify-content: flex-end;" reverse="true" asp-for="JobApplicantId"
                        not-selected-option-title="-- یک پرونده انتخاب کنید --" title="پرونده پرسنلی"
                        selected-value="@Model?.JobApplicantId"
                        validation-required-message="@localizer["Please select a JobApplicant"]"
                        class="mb-2 col-12 col-md-12 col-lg-12 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" select-class="inputBox select2 provinceSelector" value="@ViewBag.BaseInformationList">
            </select-box>
        </div>
        <div class="row">
            <text-box asp-for="JobTitle" is-readonly="true" reverse="true" title="@localizer["JobTitle"]" validation-required-message="@localizer["Please enter JobTitle"]" div-class="col-7 col-md-7 col-lg-7 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <check-box asp-for="AddressIMatch" name="AddressIMatch" reverse="true" title="@localizer["AddressIMatch"]" value="true" div-class="col-12 col-md-2 col-lg-2 d-flex flex-column-reverse align-items-start" />
            <check-box asp-for="ResumeIsMatch" name="ResumeIsMatch" reverse="true" title="@localizer["ResumeIsMatch"]" value="true" div-class="col-12 col-md-2 col-lg-2 d-flex flex-column-reverse align-items-start" />
        </div>
        <div class="row">
            <text-box asp-for="StatementOfPreviousWorkplace" reverse="true" title="@localizer["StatementOfPreviousWorkplace"]" validation-required-message="@localizer["Please enter StatementOfPreviousWorkplace"]" div-class="col-12 col-md-12 col-lg-12 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
        </div>
        <div class="row">
            <text-box asp-for="FirstApprovePerson" reverse="true" title="@localizer["FirstApprovePerson"]" validation-required-message="@localizer["Please enter FirstApprovePerson"]" div-class="col-4 col-md-4 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="FirstApprovePersonRemarks" reverse="true" title="@localizer["FirstApprovePersonRemarks"]" validation-required-message="@localizer["Please enter FirstApprovePersonRemarks"]" div-class="col-8 col-md-8 col-lg-8 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
        </div>
        <div class="row">
            <text-box asp-for="SecondApprovePerson" reverse="true" title="@localizer["SecondApprovePerson"]" validation-required-message="@localizer["Please enter SecondApprovePerson"]" div-class="col-4 col-md-4 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="SecondtApprovePersonRemarks" reverse="true" title="@localizer["SecondtApprovePersonRemarks"]" validation-required-message="@localizer["Please enter SecondtApprovePersonRemarks"]" div-class="col-8 col-md-8 col-lg-8 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
        </div>
        <div class="row">
            <text-box asp-for="ThirdApprovePerson" reverse="true" title="@localizer["ThirdApprovePerson"]" validation-required-message="@localizer["Please enter ThirdApprovePerson"]" div-class="col-4 col-md-4 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="ThirdApprovePersonRemarks" reverse="true" title="@localizer["ThirdApprovePersonRemarks"]" validation-required-message="@localizer["Please enter FirstApprovePersonRemarks"]" div-class="col-8 col-md-8 col-lg-8 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
        </div>
        <div class="row">
            <text-box asp-for="ResearcherName" reverse="true" title="@localizer["ResearcherName"]" validation-required-message="@localizer["Please enter ResearcherName"]" div-class="col-12 col-md-12 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="FinalStatement" reverse="true" title="@localizer["FinalStatement"]" validation-required-message="@localizer["Please enter FinalStatement"]" div-class="col-12 col-md-12 col-lg-8 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
        </div>      
        <div class="row">
            <div class=" col-xs-12 col-md-6 col-lg-4 mt-2">
                <label class="forms-label mb-0">@localizer["ApproveStatus"] </label>
                <select asp-for="ApproveStatus" name="ApproveStatus" required
                        class="form-control select2"
                        asp-items="Html.GetEnumSelectList<BackgroundJobApproveStatus>()">
                    <option>@localizer["select item"]</option>
                </select>
            </div>
        </div>
        <div class="row mt-5">           
            @await Component.InvokeAsync("FileUploader", new { documentType = DocumentType.BackgroundAttchament1, FileAccept = ".jpg, .png,.jfif, .jpeg|image/*,.pdf ,*.jpeg,*.tiff,*.bmp,*.gif,*.webp" })
            @await Component.InvokeAsync("FileUploader", new { documentType = DocumentType.BackgroundAttchament2, FileAccept = ".jpg, .png,.jfif, .jpeg|image/*,.pdf ,*.jpeg,*.tiff,*.bmp,*.gif,*.webp" })
        </div>
        <div class="form-row" style="margin-top:20px;">
            <div class="form-group col-xs-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-success">@localizer["Save"] </button>
                <button type="button" class="btn btn-secondary resetForm resetButton">@localizer["New"] </button>
            </div>
        </div>
    </form>
</div>




