@using Teram.Web.Core.Helper;
@model EducationModel
@inject IStringLocalizer<Teram.HR.Module.Recruitment.Controllers.EducationController> localizer
<div class="formInfo">
    <form asp-action="Save" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="onSuccess">
        <input type="hidden" asp-for="Key" />
        <div class="row">
            <select-box style="justify-content: flex-end;" reverse="true" asp-for="BaseInformationId"
                        not-selected-option-title="-- یک پرونده انتخاب کنید --" title="پرونده پرسنلی"
                        selected-value="@Model?.BaseInformationId"
                        validation-required-message="@localizer["Please select a Base Information"]"
                        class="mb-2 col-12 col-md-12 col-lg-12 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" select-class="inputBox select2 provinceSelector" value="@ViewBag.BaseInformationList">
            </select-box>
        </div>
        <div class="row">
            <text-box asp-for="Subject" reverse="true" title="@localizer["Subject"]" validation-required-message="@localizer["Please enter Subject"]" div-class="col-12 col-md-6 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="OrganizationName" reverse="true" title="@localizer["OrganizationName"]" validation-required-message="@localizer["Please enter OrganizationName"]" div-class="col-12 col-md-6 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="EducationDurationHour" validation-type="Number" reverse="true" title="@localizer["EducationDurationHour"]" validation-required-message="@localizer["Please enter EducationDurationHour"]" div-class="col-12 col-md-6 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
        </div>
        <div class="row">
            <text-box asp-for="EducationYear" validation-type="Number" reverse="true" title="@localizer["EducationYear"]" validation-required-message="@localizer["Please enter EducationYear"]" div-class="col-12 col-md-6 col-lg-4 d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <check-box asp-for="HasCertificate" name="HasCertificate" reverse="true" title="@localizer["HasCertificate"]" value="true" div-class="col-12 col-md-2 col-lg-2 d-flex flex-column-reverse align-items-start" />
        </div>
        <div class="form-row" style="margin-top:20px;">
            <div class="form-group col-xs-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-success">@localizer["Save"] </button>
                <button type="button" class="btn btn-secondary resetForm resetButton">@localizer["New"] </button>
            </div>
        </div>
    </form>
</div>




