
@model GeographicRegionModel
@inject IStringLocalizer<Teram.Module.GeographicRegion.Controllers.GeographicRegionController> localizer
<div class="formInfo">
    <form asp-action="Save" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="onSuccess" enctype="multipart/form-data">
        <input type="hidden" asp-for="GeographicRegionId" />
        <div class="row">
            <select-box asp-for="GeographicType" reverse="true" show-not-selected-option-title="false"
                        title="@localizer["GeographicType"]"
                        select-class="inputBox" value="Html.GetEnumSelectList<GeographicType>().ToList()"
                        selected-value="@(Model == null ? null : (int)Model.GeographicType)"
                        div-class="col-xs-12 col-md-6 col-lg-3  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2">
            </select-box>
            <text-box asp-for="Code"  reverse="true" validation-type="Number" title="@localizer["Code"]" validation-required-message="@localizer["Please enter NationalCode"]" div-class="col-xs-12 col-md-6 col-lg-3  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <select-box asp-for="ParentGeographicRegionId" reverse="true" show-not-selected-option-title="false"
                        title="@localizer["ParentGeographicRegion"]"
                        select-class="inputBox" value="@ViewBag.Parents"
                        selected-value="@(Model?.ParentGeographicRegionId == null ? null : (int)Model?.ParentGeographicRegionId)"
                        div-class="col-xs-12 col-md-6 col-lg-3  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2">
            </select-box>
        </div>
        <div class="row">
            <text-box asp-for="Name" reverse="true" validation-type="Persian" title="@localizer["Name"]" validation-required-message="@localizer["Please enter Name"]" div-class="col-xs-12 col-md-6 col-lg-3  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
            <text-box asp-for="LatinName" reverse="true" validation-type="Engilsh" title="@localizer["LatinName"]" validation-required-message="@localizer["Please enter LatinName"]" div-class="col-xs-12 col-md-6 col-lg-6  d-flex flex-column-reverse align-items-start pl-lg-2 pl-md-2" />
        </div>
        <div class="form-row" style="margin-top:20px;">
            <div class="form-group col-xs-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-success">@localizer["Save"] </button>
                <button type="button" class="btn btn-secondary resetForm resetButton">@localizer["New"] </button>
            </div>
        </div>

    </form>
</div>