@page
@model ForgotPasswordModel
@inject IStringLocalizer<SharedResource> Localizer
@inject IStringLocalizer<AuthenticationSharedResource> Localizer2

@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<h6 class="pt-3">@Localizer["Enter your email."]</h6>
<hr />
<div class="row justify-content-center">
    <div class="col-6">
        <form method="post">
            <div class="form-group m-2">
                <label class="form-check-label m-2">@Localizer["Email"]</label>
                <input asp-for="Input.Email" tabindex="1" class="form-control text-left" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" tabindex="2" class="btn btn-primary">@Localizer["Submit"]</button>
            <button type="button" tabindex="3" asp-page="@Model.CallBackHome()" id="btnbackhome" class="btn btn-secondary">@Localizer2["Back Home"] </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
