@page
@model ResetPasswordModel
@inject IStringLocalizer<SharedResource> Localizer
@inject IStringLocalizer<AuthenticationSharedResource> Localizer2

@{
    ViewData["Title"] = Localizer["Reset password"];
}

<h6>@ViewData["Title"]</h6>
<hr />
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-7">
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="onSuccess">
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email">@Localizer["Email"]</label>
                <input asp-for="Input.Email" tabindex="1" class="form-control text-left" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">@Localizer["Password"]</label>
                <input asp-for="Input.Password" tabindex="2" class="form-control" dir="ltr" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">@Localizer["Repeat password"]</label>
                <input asp-for="Input.ConfirmPassword" tabindex="3" class="form-control" dir="ltr" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" tabindex="" class="btn btn-primary">@Localizer["Reset"]</button>
                <button type="button" tabindex="5" asp-page="@Model.CallBackHome()" id="btnbackhome" class="btn btn-secondary">@Localizer2["Back Home"] </button>
            </div>
        </form>
    </div>
</div>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
 
}
