@model NoncomplianceDetailSampleSummaryModel
@inject IStringLocalizer<Teram.QC.Module.FinalProduct.Controllers.EditFinalProductNoncomplianceController> localizer

<input type="hidden" id="FinalProductNonComplianceId" value="@Model.FinalProductNonComplianceId" />
@{

    var opinionList = Html.GetEnumSelectList<OpinionType>().Where(x => x.Value != ((int)OpinionType.Waste).ToString()).ToList();
}
@if (Model.FirstSampleSum > 0)
{
    <fieldset class="border p-2 m-2">
        <h6 class="bg-info  p-2 rounded text-light text-center"> @localizer["Sample1"]</h6>
        <div class="row">
            <text-box reverse="true" title="@localizer["SamplePercent"]" asp-for="@Model.FirstSamplePercent" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["FirstSamplePalletCount"]" asp-for="@Model.FirstSamplePalletCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-4 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["Total"]" asp-for="@Model.FirstSampleTotalCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />

            <div class=" col-xs-12 col-md-6 col-lg-4 mt-2">
                <label class="forms-label mb-0">@localizer["Assignment"] </label>
                <select asp-for="@Model.FirstSampleOpinion" name="FirstSampleOpinion" required
                        class="form-control select2 opinionList"
                        asp-items="@opinionList">
                    <option value="">@localizer["select item"]</option>
                </select>
            </div>
        </div>
    </fieldset>
}

@if (Model.SecondSampleSum > 0)
{
    <fieldset class="border p-2 m-2">
        <h6 class="bg-info  p-2 rounded text-light text-center"> @localizer["Sample2"]</h6>
        <div class="row">
            <text-box reverse="true" title="@localizer["SamplePercent"]" asp-for="@Model.SecondSamplePercent" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["SecondSamplePalletCount"]" asp-for="@Model.SecondSamplePalletCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-4 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["Total"]" asp-for="@Model.SecondSampleTotalCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />
            <div class=" col-xs-12 col-md-6 col-lg-4 mt-2">
                <label class="forms-label mb-0">@localizer["Assignment"] </label>
                <select asp-for="@Model.SecondSampleOpinion" name="SecondSampleOpinion" required
                        class="form-control select2 opinionList"
                        asp-items="@opinionList">
                    <option value="">@localizer["select item"]</option>
                </select>
            </div>
        </div>
    </fieldset>
}

@if (Model.ThirdSampleSum > 0)
{
    <fieldset class="border p-2 m-2">
        <h6 class="bg-info  p-2 rounded text-light text-center"> @localizer["Sample3"]</h6>
        <div class="row">
            <text-box reverse="true" title="@localizer["SamplePercent"]" asp-for="@Model.ThirdSamplePercent" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["ThirdSamplePalletCount"]" asp-for="@Model.ThirdSamplePalletCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-4 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["Total"]" asp-for="@Model.ThirdSampleTotalCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />
            <div class=" col-xs-12 col-md-6 col-lg-4 mt-2">
                <label class="forms-label mb-0">@localizer["Assignment"] </label>
                <select asp-for="@Model.ThirdSampleOpinion" name="ThirdSampleOpinion" required
                        class="form-control select2 opinionList"
                        asp-items="@opinionList">
                    <option value="">@localizer["select item"]</option>
                </select>
            </div>
        </div>
    </fieldset>
}
@if (Model.ForthSampleSum > 0)
{
    <fieldset class="border p-2 m-2">
        <h6 class="bg-info  p-2 rounded text-light text-center"> @localizer["Sample4"]</h6>
        <div class="row">
            <text-box reverse="true" title="@localizer["SamplePercent"]" asp-for="@Model.ForthSamplePercent" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["ForthSamplePalletCount"]" asp-for="@Model.ForthSamplePalletCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-4 mb-3 d-flex flex-column-reverse align-items-start" />
            <text-box reverse="true" title="@localizer["Total"]" asp-for="@Model.ForthSampleTotalCount" validation-type=Number is-readonly="true"
                      div-class="col-md-6 col-lg-2 mb-3 d-flex flex-column-reverse align-items-start" />
            <div class=" col-xs-12 col-md-6 col-lg-4 mt-2">
                <label class="forms-label mb-0">@localizer["Assignment"] </label>
                <select asp-for="@Model.ForthSampleOpinion" name="ForthSampleOpinion" required
                        class="form-control select2 opinionList"
                        asp-items="@opinionList">
                    <option value="">@localizer["select item"]</option>
                </select>
            </div>
        </div>
    </fieldset>
}

<div class="row">
    <text-box reverse="true" title="@localizer["Comment"]" id="RefferalComments" validation-type=Number is-readonly="false"
              div-class="col-md-12 col-lg-12 mb-3 d-flex flex-column-reverse align-items-start" />
</div>

