@model FinalProductNoncomplianceModel
@inject IStringLocalizer<Teram.QC.Module.FinalProduct.Controllers.EditFinalProductNoncomplianceController> localizer

@if (Model.FinalProductNonComplianceCartableItems != null && Model.FinalProductNonComplianceCartableItems.Count>0)
{
    foreach (var item in Model.FinalProductNonComplianceCartableItems.OrderByDescending(x => x.InputDate).ToList())
    {
        <div class='row'>
            <div class="form-group col-xs-12 col-lg-4 col-md-2 form-group">
                <label class="forms-label mb-0">@localizer["SourceUserName"] </label>
                <input value="@item.SourceUserName" readonly type="text" class=" form-control" />
            </div>
            <div class="form-group col-xs-12 col-lg-4 col-md-2 form-group">
                <label class="forms-label mb-0">@localizer["DestinationUserName"] </label>
                <input value="@item.DestinationUserName" readonly type="text" class=" form-control" />
            </div>
            <div class="form-group col-xs-12 col-lg-4 col-md-2 form-group">
                <label class="forms-label mb-0">@localizer["PersianInputDate"] </label>
                <input value="@item.InputDatePersian" readonly type="text" class=" form-control" />
            </div>          
        </div>
        <div class='row'>
            <div class="form-group col-xs-12 col-lg-12 col-md-6 form-group">
                <label class="forms-label mb-0">@localizer["Comments"] </label>
                <input value="@item.Comments" readonly type="text" class=" form-control" />
            </div>
        </div>
        <hr />
    }
}
else
{
    <div class="card-body">
        <div id="formInfo">
            <div class="alert alert-info alert-message-primary" role="alert">
                <h3>ارجاعاتی برای  این  فرم یافت نشد</h3>
            </div>
        </div>
    </div>
}